<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="MySqlConnectionString" connectionString="Server=localhost; Port=3306; Uid=GymCore; Pwd=Gym@Core123; Database=GymCore;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
